.signup-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden; /* Prevent overflow */
    animation: slideUp 0.5s ease-out forwards;
  }
  
  .signup-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    overflow-y: auto; /* Allow scroll for long forms */
  }
  
  .input-field {
    width: 95%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .input-group {
    display: flex;
    gap: 10px;
  }
  
  .child-section {
    margin-bottom: 20px;
  }


  
  .terms {
    font-size: 14px;
    color: #555;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .send-2fa-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: orange;
  }
  
  .terms input[type="checkbox"] {
    position: relative;
    z-index: 10;
  }
  .error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

.verify-otp-btn,
.resend-otp-btn {
  width: auto;
  margin-right: 10px;
}

.otp-verification {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.otp-verification h3 {
  margin-bottom: 10px;
}

.otp-verification p {
  margin-bottom: 15px;
}

.custom-password-wrapper {
  position: relative;
  width: 100%;
}



.custom-password-field {
  padding-right: 40px;
}

.custom-password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  font-size: 20px;
}

.custom-password-toggle-icon:hover {
  color: #555;
}
